<!DOCTYPE html>

<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="index_style.css">

    <title>test page</title>
  </head>

  <body>
    <header>
    </header>
    <article>
        <div class="container-fluid">
            <p class="def_timer">00:00:00</p>
                <button type="button" class="btn btn-primary">Start</button>
                <!--classは複数指定できる。上の場合btnとbtn-primary-->                
                <button type="button" class="btn btn-danger">Stop</button>
        </div>
        <script th:src="@{/js/main2.js}"></script>
    </article>
  </body>
  
</html>